body{
  background-color: #f0f0f0;
}

body{
  margin: 0;
  padding-right: 12px ;
}


@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');


h1,p{
  font-family: 'Prompt', sans-serif;
  font-size: 20px;
  font-weight: 500;
  
}

h3,h4,h5{
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
}

.Input{
  border-radius: 10px;
  width: 500px;
  height: 50px;
  font-size: 16px;
}

.Alert{
  z-index: 1;
  position: absolute;
  top: 2%;
  transform: 'translate(-50%, -50%)';
  width: 400px;
 box-shadow: 2px 2px 2px #b3b3b3;
  padding: 10px;
  animation: fadeIn .5s; 
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.Text{
  padding-left: 35px;
  font-size: 12px;
  position: relative;
  top: -8px;
}

.TextQuestion{
  position: relative;
  top: 15px;
}